@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

footer,
.container form,
.show,
.row,
.column,
#show {
    text-align: center;
}

h1 {
    text-decoration: underline;
}

.container * {
    font-size: larger;
    font-weight: bold;
}

button,
input[type='submit'],
input[type='reset'],
.close {
    font-size: medium !important;
    font-weight: normal !important;
}

.show,
#show h2 * {
    text-decoration: underline wavy;
}

.show * {
    font-weight: normal;
}

footer {
    font-size: 1.5rem;
    font-style: italic;
}
