input[type='checkbox'] {
    visibility: hidden;
    position: absolute;
}

input[type='checkbox'] + label::before {
    height: 2rem;
    width: 2rem;
    margin-right: 2px;
    content: ' ';
    display: inline-block;
    vertical-align: baseline;
    border: 1px solid;
}
