@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('./trzy-kufle-bg.png');
    background-position-y: -150px;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: sticky;
    display: inline-flex;
    justify-content: space-between;
}

h1 {
    margin-left: 1.5rem;
    text-decoration: underline;
}

#sess-btn-cont {
    display: inline-flex;
    align-items: center;
    padding-right: 1.5rem;
}

#sess-btn-cont button {
    height: max-content;
    margin: 0.25rem;
}

main {
    flex: 1;
}

footer {
    text-align: center;
    height: 2rem;
    font-size: 1.5rem;
    flex-shrink: 0;
    font-style: italic;
}

.container {
    background-image: url('./trzy-kufle-session.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
}

.container * {
    font-size: larger;
    font-weight: bold;
}

.container form {
    padding-top: 32px;
    width: max-content;
    text-align: center;
}

.container form * {
    margin: 4px;
}

button,
input[type='submit'],
.close {
    cursor: pointer;
    font-size: medium !important;
    font-weight: normal !important;
}

.close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;
}
